body {
    word-wrap: break-word;
    background-color: white;
    color: #24292e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    display: block;

}

.banner {
    
    align-items: center;
    display: flex;

    background-color: #24292e;
    color: hsla(0,0%,100%,.7);
    font-size: 14px;
    line-height: 1.5;
    padding: 16px;
    z-index: 32;
    padding-left: 16px!important;
    padding-right: 16px!important;
    box-sizing: border-box;
    vertical-align: middle;
}

a, a:visited{
    color: #fff;
    font-weight: 600;
    white-space: nowrap;
}

.search {
    background: none;
    border: 0;
    box-shadow: none;
    color: grey;
    display: table-cell;
    font-size: inherit;
    padding-bottom: 0;
    padding-top: 0;
    width: 30%;
    outline: none;
    padding: 6px 8px;
    vertical-align: middle;
    box-sizing: border-box;
}
.slash {
    margin-right: 8px!important;
    border-style: none;
    box-sizing: border-box;
    font-size: inherit;
    font-weight: 400;
    vertical-align: middle;


}

.icons { 
    display: inline-block;
    fill: currentColor;
    box-sizing: border-box;
    color: #fff;
    font-weight: 600;
    white-space: nowrap;
}

.profile {
    padding-right: 16px!important;
    float: left!important;
    width: 25%;
    box-sizing: border-box;
    display: block;

}

.profileContainer {
    padding: 8px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 1px solid gray;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    word-break: break-word;
    white-space: normal;
   



}
.profileImage {
    border: 1px solid #e1e4e8;
    display: flex;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
    height: 231px!important;
    width: 231px!important;
    
  
    
}

.usernameBox {
    position: static;
    top: 0;
    padding-bottom: 16px;
    padding-top: 16px;
    box-sizing: border-box;
    display: block;

}
.userSpan {
    color: #666;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    display: block!important;
    box-sizing: border-box;
}
button {
    -webkit-appearance: button;
    margin-bottom: 16px!important;
    margin-top: 8px!important;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    color: #24292e;
    display: block;
    text-align: center;
    width: 100%;
    background-position: -1px -1px;
    background-repeat: repeat-x;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: .25em;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 12px;
    position: relative;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    text-transform: none;
    font: inherit;
    margin: 0;

}

.main {
    padding-left: 8px!important;
    float: left!important;
    width: 75%;
    box-sizing: border-box;
    display: block;
}
.overview {
    border-bottom-color: #e36209;
    color: #24292e;
    font-weight: 600;
    position: static;
    background-color: #fff;
    border-bottom: 1px solid;
    display: flex;
    justify-content:space-between;
}

.repos {
    margin-bottom: 16px;
    width: calc(50% - 8px);
    display: flex!important;
    padding: 16px!important;
    border-color: #d1d5da!important;
    border-radius: 3px!important;
    border: 1px solid #e1e4e8!important;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    flex-direction: column;
    width: 100%;
    

}

.counter {
    background-color: rgba(27,31,35,.08);
    border-radius: 20px;
    color: #586069;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    padding: 2px 5px;
    box-sizing: border-box;
    text-align: center;

}